@model CloudSite.Models.Photos.PhotoShare

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SinglePhoto</title>
</head>
<body>
    <div>
        <h2>Photo</h2><hr />

        <div class="row">
            <div class="col-md-4">
                <h3>
                    @Html.ActionLink("Back to the gallery", "Gallery", "Gallery")
                </h3><br />
                <h4>
                    @Html.ActionLink("Delete", "DeletePhoto", "Photo",
                        new { photoOS = Model.PhotoToShare.PhotoNameOriginalSize, photoP = Model.PhotoToShare.PhotoNamePreview }, null)
                </h4>
            </div>
        </div>

        <hr />

        @using (Html.BeginForm("SharePhoto", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h4>Share photo</h4>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.Hidden("photoPath", Model.PhotoToShare.PhotoPhatOriginalSize)

                <div class="form-group">
                    @Html.LabelFor(model => model.DateOfExpire, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DateOfExpire, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DateOfExpire, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TimeOfExpire, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TimeOfExpire, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TimeOfExpire, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Share" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <hr /><br />
        <dl class="dl-horizontal">

            @if (Model.PhotoToShare.ImageName != "")
            {
                <dt>
                    Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhotoToShare.ImageName)
                </dd>
                <br />
            }

            @if (Model.PhotoToShare.Tags != null && Model.PhotoToShare.Tags.Length != 0)
            {
                <dt>
                    Tags
                </dt>

                <dd>
                    @foreach (string tag in Model.PhotoToShare.Tags)
                    {
                        <div>@tag</div>
                    }
                </dd>
                <br />
            }

            @if (Model.PhotoToShare.PhotoTimeOfUpload != "")
            {
                <dt>
                    Photo uploaded in date
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhotoToShare.PhotoTimeOfUpload)
                </dd>
                <br />
            }

            @if (Model.PhotoToShare.photoGpsLatitude != null)
            {
                <dt>
                    Latitude
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhotoToShare.photoGpsLatitude)
                </dd>
                <br />
            }

            @if (Model.PhotoToShare.photoGpsLongitude != null)
            {
                <dt>
                    Longitude
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhotoToShare.photoGpsLongitude)
                </dd>
                <br />
            }

            @if (Model.PhotoToShare.photoTagDateTime != "")
            {
                <dt>
                    Photo taken on date
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhotoToShare.photoTagDateTime)
                </dd>
                <br />
            }

            @if (Model.PhotoToShare.photoTagImageWidth != "")
            {
                <dt>
                    Width
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhotoToShare.photoTagImageWidth)
                </dd>
                <br />
            }

            @if (Model.PhotoToShare.photoTagImageHeight != "")
            {
                <dt>
                    Height
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhotoToShare.photoTagImageHeight)
                </dd>
                <br />
            }

            @if (Model.PhotoToShare.photoTagThumbnailEquipModel != "")
            {
                <dt>
                    Camera model
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhotoToShare.photoTagThumbnailEquipModel)
                </dd>
                <br />
            }

            @if (Model.PhotoToShare.PhotoPhatOriginalSize != "")
            {
                
                <p>
                    <img src="@Html.DisplayFor(model => model.PhotoToShare.PhotoPhatWhitSasKey)" , class="img-responsive center-block">
                </p>
                <br />
            }
        </dl>
    </div>
</body>
</html>
